 @model IEnumerable<Department>
    @{
        ViewData["Title"] = "AllDepartments";
    }

    

@*<a asp-action="Create" class="btn btn-success">Create New Department </a>*@


<br />

        <h1> All Departments</h1>
        <br />
        <br />
        <a  asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
        @if (Model.Count()>0)
        {
        <table class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(D => D.Code)</td>
                    <td>@Html.DisplayNameFor(D => D.Name)</td>
                    <td>@Html.DisplayNameFor(D => D.DateOfCereation)</td>
                    <td>Details</td>
                    <td>Update</td>
                    <td>Delete</td>

                </tr>

            </thead>

            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.Code</td>
                        <td>@department.Name</td>
                        <td>@department.DateOfCereation</td>
                    <partial name="_ButtonPartial" model="@department.Id" />
                    </tr>

                }

            </tbody>
        </table>
        }
    else
    {
        <div class="mt-5 alert alert-warning">
            <h3> There is No Departments</h3>
        </div>

    }

